
    /* Add additional font formats if needed */

    body{
        font-family: Arial, Helvetica, sans-serif;
    background: silver; 
    margin: 0; /* Adjusted */
    padding: 0px;
    }
    .nav-item:hover .nav-link {
        color: gold; /* Change text color on hover */
    }
    .silver-container {
        background-color: silver;
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Add border radius for rounded corners */
        text-align: center; /* Center the navbar */
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
    
    
    
    
      /* For screens larger than 700px */
    .navbar-expand-lg {
        flex-direction: row;
        justify-content: space-between;
      }
      
      .navbar-collapse {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1000;
      }
      
      .navbar-nav {
        flex-direction: row;
      }
      
      .navbar-toggler {
        display: none;
      }
      
      /* For screens smaller than or equal to 700px */
      @media (max-width: 400px) {
        .navbar-expand-lg {
          flex-direction: column;
        }
      
        .navbar-collapse {
          display: none;
          flex-direction: column;
          position: relative;
          z-index: 1000;
        }
      
        .navbar-toggler {
          display: block;
        }
      
        .navbar-collapse.show {
          display: flex;
        }
      }
      .navbar-nav .nav-link {
        position: sticky;
        font-size: 20px; /* Increase font size */
        margin-left: 50px;
        font-weight: bold; /* Add spacing between navbar items */
      }
    
      @media (max-width: 400px) {
        .navbar-toggler {
          display: block;
        }
    
        .collapse.navbar-collapse {
          display: none;
        }
      }
    .carousel-item {
        transition: transform 0.2s ease;
      }
    
    h1 {
      justify-content: center;
    text-align: center;
    text-decoration-color: purple;
    margin-bottom: 36px;
    color: purple;
    font-size: 17px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
      font-size: 36px;
      margin: 0;
      padding: 0;
    }
    @media screen and (max-width: 400px) {
        .cls {
            width: 80px; /* Adjust width as needed */
            height: 80px; /* Adjust height as needed */
        }
    }
    
      /* Ensure images fit within the carousel container */
      .carousel img {
    max-width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    margin: auto;
      }
     .badge { color: gold;}
    
    @media (max-width: 400px) {
        h1 {
            font-weight: bolder;
          font-size: 15px;
        margin-bottom: 20px;
        }
      }
      @media (max-width: 400px) {
        img.icon {
          max-width: 100px;
          height: 100px;
        }
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      header img {
        margin-right: 10px;
      }
      
      @media (max-width: 400px) {
        header {
          flex-direction: column;
        }
      
        header img {
          margin-bottom: 10px;
        }
      }
    .cover {
    margin-top: 50px;
    }
    .icon {
        float : left;
        width : 120px;
        height : 120px;
        margin-right: 10px;
    }
    .button {
        background-color: gold;
        border: silver;
        border-radius: 5px;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: wavy;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .button:hover {
        background-color: purple;
        color: white;
      }
    
      .container {
        text-align: center;
      }
      
      h2 {
        margin-bottom: 20px;
      }
    
      .contact-info {
        text-align: left;
        max-width: 400px;
        margin: auto;
      }
      .social-media-button {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: gold;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .social-media-button:hover {
        background-color: purple;
    }
    
    
      .contact-info p {
        margin-bottom: 10px;
      }
      .footer-container {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
    }
    
    /* CSS for logo */
    .logo {
        float: left; /* Float the logo to the left */
        margin-right: 20px; /* Add some space to the right of the logo */
        height: 50px; /* Set the height of the logo */
        width: auto; /* Let the width adjust automatically to maintain aspect ratio */
    }
